
<app-common-header></app-common-header>
  <div class="container">
    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <span>Rxjs Operators</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Observable in Angular</h5>
              <p class="card-text">Observable pipe
                Map Operator
                Filter Operator
                Tap Operator
                SwitchMap
                MergeMap
                ConcatMap
                ExhaustMap
                take, takeUntil, takeWhile, takeLast</p>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col">
          <div class="card mt20">
            <div class="card-header">
              <span>Angular</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text"></p>
            </div>
            <a></a>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
    </div>
</div>

